block header

	header.site-header
		.container
			.site-header__inner.cf
				.logo
					a(href="#")
						img(src="img/logo.png", alt="")
				.language
					p Выбрать язык
					ul.language__list
						li
							a(href="#").active RU
						li
							a(href="#") EN