extends _layout
block content
	main.main-content
		.heading-section
			.container
				.heading-section__inner
					.text-side
						h1 Получи бонус до 200%
						p Бонус – это распространенный метод поощрения как новых, так и существующих клиентов. Начисление бонусных средств позволяет существенно увеличить торговый капитал, поднимая тем самым объемы инвестируемых средств и соответственно общую доходность торговли. Проще говоря, денег на вашем счету будет больше, что даст вам возможность получать более высокую прибыль. Зачастую размер бонуса напрямую зависит от размеров первого депозита.
					.form-side
						p.form-heading БЕСПЛАТНАЯ РЕГИСТРАЦИЯ
						form#open-account-form
							.inp-wrap
								input(type='text', placeholder='Имя', name='fname')
								span.ol-err
							.inp-wrap
								input(type='text', placeholder='Фамилия', name='lname')
								span.ol-err
							.inp-wrap
								input(type='email', placeholder='Адрес эл. почты', name='email')
								span.ol-err
							.inp-wrap
								input(type='password', placeholder='Пароль', name='password')
								span.ol-err
							.form-row.cf
								input.code(type='text', placeholder='+7', name='phone_prefix')
								input.number(type='text', placeholder='Телефон', name='phone')
								span.ol-err
							.inp-wrap
								select.select(name='country')
								span.ol-err
							input#your-language(type='hidden', name='language', value='Russian')
							input#your-currency(type='hidden', name='currency', value='USD')
							//- Campaign info
							input#your-affiliate(type='hidden', name='affiliate', value='')
							input#your-campaign(type='hidden', name='campaign', value='')
							input#your-a_aid(type='hidden', name='a_aid', value='')
							input#your-b_bid(type='hidden', name='b_bid', value='')
							input#your-trading_group_id(type='hidden', name='trading_group_id', value='')
							//- Terms & Conditions checkbox
							label.terms-label
								input.terms(type='checkbox', name='terms', value='1')
								| Я принимаю 
								a(target='_blank', href='https://binaring.com/terms-conditions/') правила и соглашения*
							input.submit(type='submit', value='Зарегистрироваться')
							.errors.alert.alert-danger(style='display: none;')
		.why-we
			.container
				.why-we__inner
					h2 Преимущества работы с нами
					ul.why-we__list
						li
							.icon-side
								img(src="img/why1.png", alt="")
							p Защищенные Инвестиции
						li
							.icon-side
								img(src="img/why2.png", alt="")
							p Индивидуальное обучение
						li
							.icon-side
								img(src="img/why3.png", alt="")
							p Быстрый вывод средств
						li
							.icon-side
								img(src="img/why4.png", alt="")
							p Страховка сделок
		.awards
			.container
				ul.our-awards
					li.cf
						.logo-side
							img(src="img/award1.png", alt="")
						.txt-side
							p.heading 2016 Forex Expo Awards
							p Лучший брокер бинарных опционов для начинающих
					li.cf
						.logo-side
							img(src="img/award2.png", alt="")
						.txt-side
							p.heading 2016 IAIR Awards
							p Брокер года в номинации «бинарные опционы»
		.container
			ul.logos
				li
					img(src="img/logo1.png", alt="")
				li
					img(src="img/logo2.png", alt="")
				li
					img(src="img/logo3.png", alt="")
				li
					img(src="img/logo4.png", alt="")
				li
					img(src="img/logo5.png", alt="")
				li
					img(src="img/logo6.png", alt="")
				li
					img(src="img/logo7.png", alt="")
				li
					img(src="img/logo8.png", alt="")
				li
					img(src="img/logo9.png", alt="")
				li
					img(src="img/logo10.png", alt="")
				li
					img(src="img/logo11.png", alt="")




block inlineScripts